

body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Courier Header',
}

img {
display: block;
margin: auto;
height: 50%;
width: 74%;
opacity: 1%;
}









/* Navigation bar*/




ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#ffffff;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#000000;
  float: left 30px;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#E2CDC8;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#ffffff 1px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-family: E2CDC8;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#;
  font-weight:bold;
  font-family: 'Courier Header';
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

/* Newsletter styling */
#newsletter{
  position: relative;
  padding:15px;
  color:#000000;
  background:#C19386;
  opacity: 0.5;
}

#newsletter h1{
  float:center;
}

#newsletter form {
  float:center;

}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/** video */

.video {
	position: 560px;
	height: 315px;
	position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto;
	
}



















/* About page slider*/

.containerA {
	
	height: 450px;
	width: 900px;
	margin: 20px auto;
	position:relative;
	
}

#imgA {
	
	height: 550px;
	width: 900px;
	position: absolute;
	
}

#left_holder {
	
	height: 450px;
	width: 100px;
	position:absolute;
	left:0px;
	top:0px;
}

#right_holder {
	
	height: 450px;
	width: 100px;
	position:absolute;
	right:0px;
	top:0px;
}

.left {
	height: 50px;
	width: 50px;
	position:absolute;
	top: 40%;
	left: 0px;

}

.right {
	height: 50px;
	width: 50px;
	position:absolute;
	top: 40%;
	right: 0px;

}


footer {
    padding: 20px;
    margin-top: 20px;
    border-top: black 3px solid;
    color: #ffffff;
    background-color: #628395;
    text-align: center;
}

.social {
 	list-style-type:  none;
 	text-align: center;
 }
 .social li {
 	display: inline;
 }
 .social i{
 	font-size: 460%;
 	margin: 1%;
 	padding: 1% 1% 1% 1%;
 	color: #C3D7DF;
 }
 .social i:hover {
 	color: #F5F5F5
}
/* End footer*/
