

body {
  margin: 0;
  background-repeat: no-repeat;
  background-color; #fffff;
  margin: 0;
  font-family: 'Courier Header',
}


.slider {
	width: 1024px;
	margin: 1em auto;
	
}

.slider-wrapper {
	width: 100%;
	height: 500px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}


































/* Navigation bar*/

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#ffffff;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#000000;
  float: left 30px;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#ffffff;
  color:#000;
  padding-top:30px;
  min-height:70px;
  border-bottom:#ffffff 1px solid;
}

header a{
  color:#000;
  text-decoration:none;
  text-transform: uppercase;
  font-family: E2CDC8;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #logo{
  font-family: "Courier Hans";
  float:left;
}

header #logo h1{

  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#;
  font-weight:bold;
  font-family: 'Courier Header';
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

/* Newsletter styling */
#newsletter{
  position: relative;
  padding:15px;
  color:#000000;
  background:#C19386;
  opacity: 0.5;
}

#newsletter h1{
  float:center;
}

#newsletter form {
  float:center;

}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/** video */

.video {
	position: 560px;
	height: 315px;
	position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto;
	
}




/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}




















